<div class="mobile_container zs_container">
  <div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form">
      <div class="weui-search-bar__box">
        <i class="weui-icon-search"></i>
        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
      </div>
      <label class="weui-search-bar__label" id="searchText">
        <i class="weui-icon-search"></i>
        <span>搜索</span>
      </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
  </div>

  
  
  <div class="zs_head">
    <img src="<%= image_path %Q(use_map.jpeg) %>" usemap="#phly">
    <map name="phly" class="row">
      <div>
        <area shape="circle" coords="180,139,14" href="venus.html" style="background-color: red" alt="Venus" />
      </div>
      <area shape="circle" coords="129,161,10" href="mercur.html" alt="Mercury" />
      <area shape="rect" coords="0,0,110,260" href="sun.html" alt="Sun" />
      <!-- <a ></a> -->
      <div class="goods" style="display:block;position:absolute; left:50px;top:100px;filter:alpha(opacity=50);opacity:0.5">
        <!-- <i class="fa fa-map-marker"></i> -->
        <i class="fa fa-street-view"></i>
      </div>
    </map>
  </div>
  <div class="shop_page">
    <a href="<%= m_zs_shop_path %>">
      <div class="page_title">
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star"></i>
        四星商户
      </div>
      <div class="shop_content">
        <div class="row shop_detail">
          <div class="shop_img" >
            <i class="fa fa-balance-scale"></i>
          </div>
          <div class=" shop_dsp">
            <h4 class="weui-media-box__title">中商国际一号店</h4>
            <p class="weui-media-box__desc">专营土豆、番茄等农副产品</p>
          </div>
        </div>
        <div class="shop_bottom row">
          <div class="shop_left col-xs-6">
            服务人数
            <p>13</p>
          </div>
          <div class=" col-xs-6">
            好评率
            <p>98.60%</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="shop_page">
    <a href="<%= m_zs_shop_path %>">
      <div class="page_title">
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star"></i>
        四星商户
      </div>
      <div class="shop_content">
        <div class="row shop_detail">
          <div class="shop_img">
            <i class="fa fa-balance-scale"></i>
          </div>
          <div class=" shop_dsp">
            <h4 class="weui-media-box__title">中商国际一号店</h4>
            <p class="weui-media-box__desc">专营土豆、番茄等农副产品</p>
          </div>
        </div>
        <div class="shop_bottom row">
          <div class="shop_left col-xs-6">
            服务人数
            <p>13</p>
          </div>
          <div class=" col-xs-6">
            好评率
            <p>98.60%</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="shop_page">
    <a href="<%= m_zs_shop_path %>">
      <div class="page_title">
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star"></i>
        四星商户
      </div>
      <div class="shop_content">
        <div class="row shop_detail">
          <div class="shop_img">
            <i class="fa fa-balance-scale"></i>
          </div>
          <div class=" shop_dsp">
            <h4 class="weui-media-box__title">中商国际一号店</h4>
            <p class="weui-media-box__desc">专营土豆、番茄等农副产品</p>
          </div>
        </div>
        <div class="shop_bottom row">
          <div class="shop_left col-xs-6">
            服务人数
            <p>13</p>
          </div>
          <div class=" col-xs-6">
            好评率
            <p>98.60%</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="shop_page">
    <a href="<%= m_zs_shop_path %>">
      <div class="page_title">
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star star_show"></i>
        <i class="fa fa-star"></i>
        四星商户
      </div>
      <div class="shop_content">
        <div class="row shop_detail">
          <div class="shop_img">
            <i class="fa fa-balance-scale"></i>
          </div>
          <div class=" shop_dsp">
            <h4 class="weui-media-box__title">中商国际一号店</h4>
            <p class="weui-media-box__desc">专营土豆、番茄等农副产品</p>
          </div>
        </div>
        <div class="shop_bottom row">
          <div class="shop_left col-xs-6">
            服务人数
            <p>13</p>
          </div>
          <div class=" col-xs-6">
            好评率
            <p>98.60%</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
<% content_for :javascripts do -%>
  <!-- 添加jquery-weui fileupload会失效！ -->
  <%= javascript_include_tag 'jquery-weui.min' %>
<% end %>