<!DOCTYPE html>
<html>
  <head>
    <title>NewTimeMachine</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <% if content_for? :head_template %>
      <%= yield :head_template %>
    <% else %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
    <% end %>
    
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <% if content_for? :template %>
      <%= yield :template %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
