<!DOCTYPE html>
<html>
  <head>
    <title>NewTimeMachine</title>
    <%= csrf_meta_tags %>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0,user-scalable=no">
    <% if content_for? :head_template %>
      <%= yield :head_template %>
    <% else %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
    <% end %>
    
    
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag 'weui-rails', media: 'all' %>
    <!-- head 中 -->
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css"> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
  
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>

  </head>

  <body>
    <% if content_for? :template %>
			<div class="container">
				<%= yield %>    
			</div>
    <% else %>
			<%= yield %>
    <% end %>
  </body>
</html>

