<!DOCTYPE html>
<html>
  <head>
    <title>朝夕生活</title>
    <%= csrf_meta_tags %>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0,user-scalable=no">
    <% if content_for? :head_template %>
      <%= yield :head_template %>
    <% else %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
    <% end %>
    <%= stylesheet_link_tag 'weui-rails', media: 'all' %>
    <%= stylesheet_link_tag 'jquery-weui.min', media: 'all' %>
    <%= yield :stylesheets %>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
  </head>

  <body ontouchstart>
    <% if content_for? :template %>
			<div class="container">
				<%= yield %>    
			</div>
    <% else %>
			<%= yield %>
    <% end %>
    
    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>

  </body>
</html>

